.top-bar{
	width: 100%;
	height: 80px;
	background-color: #442a02;
	margin-top: -90px;
	margin-left: -8px;
	position: absolute;
}

.logo {
	margin-top: 10px;
	margin-left: 4px;
}

.nav-bar{
	margin-top: 20px;
}

.nav-bar a {
	color: white;
	font-family: verdana;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

.nav-bar a:hover{
	color: #cccccc;
	text-decoration: none;
}

.box-frame p {
    margin-bottom: 12px;
}

.box-frame {
    max-width: 600px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

.box-frame * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
  color: #336699;
  text-decoration: none;
}

.featured {
  list-style: none;
  position: relative;
}

  .featured li {
    padding: 5px 20px 5px 24px;
    margin-bottom: 15px;
    position: relative;
    z-index: 20;
    color: #336699;
  }

  .nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .featured li:before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #888;
    vertical-align: middle;
    margin-left: -12px;
    margin-right: 7px;
  }

  .featured li:hover, a:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  
  .featured .highlight {
     width: 100%;
     background: #ededed;
     border-top: solid 1px #999;
     border-left: solid 1px #999;
     border-bottom: solid 1px #999;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 10;
  }

  .featured .highlight:before {
    display: none;
  }

.featured {
   float: left;
   width: 49%;
}

.content-preview {
   float: left;
   border: solid 1px #999;
   width: 51%;
   background: #ededed;
   position: relative;
   z-index: 5;
   margin-left: -1px;
   min-height: 304px;
   position: relative;
}

  .content-preview img {
    display: block;
    border: solid 1px #999;
    width: 100%;
    height: auto;
    max-width: 220px;
    max-height: 143px;
    margin: 0 auto 5px auto;
  } 

.news-content {
    position: absolute;
    background: #ededed;
    z-index: 10;
    padding: 10px;
    top: 0;
    left: 0;
    display: none;
}

.top-content {
    display: block;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
