<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>17<sup>th</sup> September, 2016</h1>
            <hr>
            <h2 class="section-heading">"Free and Open Source Software, a building block to develop nation."</h2>
            <a href="http://www.softwarefreedomday.org/"><img src="http://www.softwarefreedomday.org/countdown/banner1-UTC-4-en.png" border="0" width="160" height="90" alt="Celebrate SFD with us on September 17, 2016!"></a><br>
            <p><i class="fa fa-map-marker colored" aria-hidden="true"></i> <a href="https://www.google.com.np/maps/place/MOODS+STUDIO+LOUNGE/@27.6913308,85.3167517,17z/data=!4m5!3m4!1s0x39eb19b24524ef9b:0x9096f7f2c5437897!8m2!3d27.6913308!4d85.3167517!6m1!1e1?hl=en">Moods Studio Lounge, Tirupureshwor, Kathmandu, Nepal</a><br>
	    Entry fee: We donot charge anyone. Everyone can come.</p><hr>
            <a href="bsponsor.html" class="btn btn-primary btn-xl page-scroll">Become a Sponsor!</a>
            <a href="bspeaker.html" class="btn btn-primary btn-xl page-scroll">Become a Speaker!</a><br>
            <div id="temo">
            	<a href="#about" class="btn btn-primary btn-xl page-scroll">About SFD16</a>
            </div>
        </div>
    </div>
</header>
