<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>17<sup>th</sup> September, 2016</h1>
            <hr>
            <h2 class="section-heading">"Free and Open Source Software, a building block to develop nation."</h2>
            <p>Venue:<br>
	    Time:<br>
	    Entry fee: FREE!!!</p><hr>
            <a href="#" class="btn btn-default btn-xl wow tada">Become a Sponsor!</a>
            <a href="#" class="btn btn-default btn-xl wow tada">Become a Speaker!</a><br>
            <div id="temo">
            	<a href="#about" class="btn btn-primary btn-xl page-scroll">About SFD16</a>
            </div>
        </div>
    </div>
</header>
