<section id="toc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SFD 2016, Nepal</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Presentation & Talks</h3>
                    <p class="text-muted">Speakers from various communities, organizations and individuals as well to present about open source.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Entertainment</h3>
                    <p class="text-muted">Screening of 2D/3D movies created using FOSS and videos about FOSS.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linux wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Distro Demos</h3>
                    <p class="text-muted">Demonstration of and Installation of various GNU/Linux Distributions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Software Demos</h3></h3>
                    <p class="text-muted">Demonstration and sharing of various FOSS applications and tools.</p>
                </div>
            </div>
        </div>
    </div>
</section>
