
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Call For Papers and Presentation</h2>
                <hr class="light">
                <p class="light">
The SFD 2016 Program Committee thus invites proposals for papers and presentation on the use of Free and open Source Software (FOSS), and Information and Communication Technologies(ICT) in general.</p>
<p class="light">Sessions will consist of four 25 minute presentations, and proposals should be geared to that length. A different format for some sessions may be chosen by the Program Committee after the proposals have been reviewed. Session organizers may wish to propose different formats for their sessions. SFD will bring IT and FOSS experts from all over the country to discuss the use of FOSS and ICTs to help attain sustainability in our community and country as a whole.
Papers and Presentations will be evaluated for promise of quality and significance of topic and will be forwarded to Programme Committee, which makes final decisions. Notification of acceptance or rejection will be sent by 1st September 2016.</p>
<p class="light">

The proposal must have two parts:
<ol>
   <li> A cover sheet containing the proposer’s name, professional status, address, contact numbers, fax number (if available), e-mail address, and paper title.</li>
   <li>A second sheet containing the proposer’s name, session for which the paper should be considered, paper title, 250-word abstract, and audio-visual equipment requirements. If the proposer will be at a different address when decisions are announced in September, that address should be included.</li>

</ol>
Submissions: Proposals should be submitted to the Programme Committee events@fossnepal.org with subject topic "proposal [paper title]"

The submission should be in relation to the following areas/session:
Machine Learning and Artificial Intelligence
Big Data and Open Data
Cyber Security and Cryptography
Open Education
Localization initiative in Nepal
E-Governance     in Nepal
Open Mapping

The Programme Committee welcomes submissions on other topics and will organize additional sessions to accommodate the best submissions.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
