<section class="bg-primary" id="call">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">Call For Sponsorship</h2>
                <hr class="light">
                <p class="light">]Line 1</p>
<p class="light">Line 2</p>
<p class="light">Line 3</p>
                <a href="mailto:events@fossnepal.org" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
