<section>
  <hr><h2 class="section-heading" align="center">Logistics / Resources Team</h2><hr>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/team/nikesh.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Volunteer, Organizer
                            </div>
                            <div class="project-name">
                                Nikesh Balami
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/MMarahatta" class="portfolio-box">
                    <img src="img/team/manish.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Vounteer, Organizer
                            </div>
                            <div class="project-name">
                                Manish Marahatta
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/rumi.rajbhandari.5" class="portfolio-box">
                    <img src="img/team/rumi.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Volunteer, Organizer
                            </div>
                            <div class="project-name">
                                Rumi Rajbhandari
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/me_chaps" class="portfolio-box">
                    <img src="img/team/jeevanchapagain.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Volunteer, Organizer
                            </div>
                            <div class="project-name">
                                Jeevan Chapagain
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/team/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Volunteer, Organizer
                            </div>
                            <div class="project-name">
                                Nirmal Rijal
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
