<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav2.html %}
  {% include header.html %}
  {% include volunteers_design.html %}
  {% include volunteers_logistics.html %}
  {% include volunteers_mediaoutreach.html %}
  {% include volunteers_fundraising.html %}
  {% include volunteers_coordination.html %}
  {% include volunteers_eventdocumentation.html %}
  {% include volunteers.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
